[general]
enabled=true
debug=false

[consul]
id=my_asterisk
name=asterisk
host=127.0.0.1
port=8500
register_url=/v1/agent/service/register
deregister_url=/v1/agent/service/deregister
tags=asterisk
discovery_ip=auto ;set ip or auto to discovery the ip
discovery_port=5060
discovery_interface=eth0 ;only use if discovery_ip is auto
